node {
    fill-color: white;
    size: 35px;
    stroke-mode: plain;
    stroke-color: #000000;
    stroke-width: 1px;
   	fill-mode: dyn-plain;
	text-style: bold;
}
edge {
    text-alignment: center;
    text-size: 16;
    text-color: orange;
    text-background-mode: plain;
	shape: cubic-curve;
}
node.important {
	fill-color: green;
}
edge.black {
	fill-color: black;
}
edge.highlighted {
	fill-color: green;
}